<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <th class="view-table">Pilot Username</th>
        <th class="view-table">License ID</th>
        <th class="view-table">Drone Store</th>
        <th class="view-table">Drone Tag</th>
        <th class="view-table">Successful Deliveries</th>
        <th class="view-table">Pending Deliveries</th>
        <% dronePilotRoster.forEach(pilot => {%>
            <tr>
                <td class="view-table"><%= pilot.pilot %></td>
                <td class="view-table"><%= pilot.licenseID %></td>
                <td class="view-table"><%= pilot.drone_serves_store %></td>
                <td class="view-table"><%= pilot.drone_tag %></td>
                <td class="view-table"><%= pilot.successful_deliveries %></td>
                <td class="view-table"><%= pilot.pending_deliveries %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>