<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Drone Traffic Control</title>
</head>
<body>
    <h1>Drone Traffic Control</h1>
    <table>
        <th class="view-item">Store ID</th>
        <th class="view-item">Drone Tag</th>
        <th class="view-item">Drone Pilot</th>
        <th class="view-item">Weight Allowed</th>
        <th class="view-item">Current Weight</th>
        <th class="view-item">Deliveries Allowed</th>
        <th class="view-item">Delivies in Progress</th>
        <% droneTrafficControl.forEach(drone => {%>
            <tr>
                <td class="view-item"><%= drone.drone_serves_store %></td>
                <td class="view-item"><%= drone.drone_tag %></td>
                <td class="view-item"><%= drone.pilot %></td>
                <td class="view-item"><%= drone.total_weight_allowed %></td>
                <td class="view-item"><%= drone.current_weight %></td>
                <td class="view-item"><%= drone.deliveries_allowed %></td>
                <td class="view-item"><%= drone.deliveries_in_progress %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>