<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <th class="view-table">Drone Store</th>
        <th class="view-table">Drone Tag</th>
        <th class="view-table">Drone Pilot</th>
        <th class="view-table">Weight Allowed</th>
        <th class="view-table">Current Weight</th>
        <th class="view-table">Deliveries Allowed</th>
        <th class="view-table">Delivies in Progress</th>
        <% droneTrafficControl.forEach(drone => {%>
            <tr>
                <td class="view-table"><%= drone.drone_serves_store %></td>
                <td class="view-table"><%= drone.drone_tag %></td>
                <td class="view-table"><%= drone.pilot %></td>
                <td class="view-table"><%= drone.total_weight_allowed %></td>
                <td class="view-table"><%= drone.current_weight %></td>
                <td class="view-table"><%= drone.deliveries_allowed %></td>
                <td class="view-table"><%= drone.deliveries_in_progress %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>