<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <th class="view-table">Product Barcode</th>
        <th class="view-table">Product Name</th>
        <th class="view-table">Product Weight</th>
        <th class="view-table">Lowest Price</th>
        <th class="view-table">Highest Price</th>
        <th class="view-table">Lowest Quantity</th>
        <th class="view-table">Highest Quantity</th>
        <th class="view-table">Total Quantity</th>
        <% mostPopularProducts.forEach(product => {%>
            <tr>
                <td class="view-table"><%= product.barcode %></td>
                <td class="view-table"><%= product.product_name %></td>
                <td class="view-table"><%= product.weight %></td>
                <td class="view-table"><%= product.lowest_price %></td>
                <td class="view-table"><%= product.highest_price %></td>
                <td class="view-table"><%= product.lowest_quantity %></td>
                <td class="view-table"><%= product.highest_quantity %></td>
                <td class="view-table"><%= product.total_quantity %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>