<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Most Popular Products</title>
</head>
<body>
    <h1>Most Popular Products</h1>
    <table>
        <th class="view-item">Product Barcode</th>
        <th class="view-item">Product Name</th>
        <th class="view-item">Product Weight</th>
        <th class="view-item">Lowest Price</th>
        <th class="view-item">Highest Price</th>
        <th class="view-item">Lowest Quantity</th>
        <th class="view-item">Highest Quantity</th>
        <th class="view-item">Total Quantity</th>
        <% mostPopularProducts.forEach(product => {%>
            <tr>
                <td class="view-item"><%= product.barcode %></td>
                <td class="view-item"><%= product.product_name %></td>
                <td class="view-item"><%= product.weight %></td>
                <td class="view-item"><%= product.lowest_price %></td>
                <td class="view-item"><%= product.highest_price %></td>
                <td class="view-item"><%= product.lowest_quantity %></td>
                <td class="view-item"><%= product.highest_quantity %></td>
                <td class="view-item"><%= product.total_quantity %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>