<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <th class="view-item">Order ID</th>
        <th class="view-item">Order Cost</th>
        <th class="view-item">Product Count</th>
        <th class="view-item">Payload</th>
        <th class="view-item">Contents</th>
        <% ordersInProgress.forEach(order => {%>
            <tr>
                <td class="view-item"><%= order.orderID %></td>
                <td class="view-item"><%= order.cost %></td>
                <td class="view-item"><%= order.num_products %></td>
                <td class="view-item"><%= order.payload %></td>
                <td class="view-item"><%= order.contents %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>