<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <th class="view-table">Store ID</th>
        <th class="view-table">Store Name</th>
        <th class="view-table">Store Manager</th>
        <th class="view-table">Store Revenue</th>
        <th class="view-table">Incoming Revenue</th>
        <th class="view-table">Incoming Orders</th>
        <% storeSalesOverview.forEach(store => {%>
            <tr>
                <td class="view-table"><%= store.store_id %></td>
                <td class="view-table"><%= store.sname %></td>
                <td class="view-table"><%= store.manager %></td>
                <td class="view-table"><%= store.revenue %></td>
                <td class="view-table"><%= store.incoming_revenue %></td>
                <td class="view-table"><%= store.incoming_orders %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>