<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <th>Store ID</th>
        <th>Store Name</th>
        <th>Store Manager</th>
        <th>Store Revenue</th>
        <th>Incoming Revenue</th>
        <th>Incoming Orders</th>
        <% storeSalesOverview.forEach(store => {%>
            <tr>
                <td><%= store.store_id %></td>
                <td><%= store.sname %></td>
                <td><%= store.manager %></td>
                <td><%= store.revenue %></td>
                <td><%= store.incoming_revenue %></td>
                <td><%= store.incoming_orders %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>